body {
  background-color: white;
  font-family: "Anton SC", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}

.navlist {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: 650px) {
    width: 100%;
    font-size: 38%;
    display: flex;
    wrap: wrap-reverse;
  }
}

#logo-img {
  width: 100%;
  display: flex;
  padding-left: 40%;
  flex-shrink: 2;

  @media screen and (max-width: 650px) {
    width: 90%;
    height: auto;
    font-size: 40%;
    display: fixed;
    padding-left: 0;
    flex-shrink: 2;
  }
}

.navlinks li a {
  width: 100%;
  font-size: 18px;
}

.navbar-nav li a:hover {
  color: #119da4;
}

.navbar .navbar-nav {
  width: 40%;
  justify-content: flex-end;
  margin-left: auto;
  padding-right: 10%;
  gap: 20px;

  @media screen and (max-width: 650px) {
    width: 40%;
  }
}

.navbar .navbar-nav .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
  background: #fff;
  color: #fff;
}

.links {
  width: 30%;
  display: flex;
}

.navlinks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: -10%;
}

#home {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
}

#home video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  object-fit: cover;
  box-sizing: border-box;
  overflow: hidden;
  z-index: -100;
  transition: 1s opacity;
}

#home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
}

#contact-project-about .over {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 83%;
  background-color: rgb(0, 0, 0, 0.4);
}

#home h1 {
  color: #fff;
  font-size: 6vw;
  line-height: 1.2em;

  @media screen and (max-width: 768px) {
    font-size: 90%;
  }
}

#home p {
  color: rgba(250, 250, 250, 0.7);
  font-size: 2.5vw;
  line-height: 6vh;

  @media screen and (max-width: 768px) {
    font-size: 70%;
  }
}

#home .home-text {
  z-index: 99;
}

#about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 14%;
  padding-right: 8%;
  margin-top: 0;
  background-color: white;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

#info {
  display: flex;
  width: 100%;
  margin: 0;
  padding-top: 15px;
  justify-content: space-around;
  gap: 20%;
  background-color: #13505b;
  flex-shrink: 1;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-wrap: wrap;
  }
}

#items {
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;

}

#items li a {
  font-family: "Anton SC", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}

#items li a::before {
  content: "*";
}

#items li p::after {
  content: "";
  border-bottom: 3px solid #119da4;
  width: 260px;
  display: block;
}

#contact {
  background: url(https://images.pexels.com/photos/1216544/pexels-photo-1216544.jpeg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

#contact-form {
  width: 100%;
  padding: 5%;
  background: url(https://images.pexels.com/photos/392031/pexels-photo-392031.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center center;
  position: relative;
}

#contact-form form {
  width: 80%;
  padding: 0;
}

#contact-form form {
  width: 80%;
  color: white;
  font-size: 25px;
}

#contact-projects {
  width: 100%;
  background: url(https://images.pexels.com/photos/159358/construction-site-build-construction-work-159358.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center center;
}

#contact-projects-about {
  width: 100%;
  height: 10%;
  background: url(https://images.pexels.com/photos/5845511/pexels-photo-5845511.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center center;
  padding-top: 20%;
  padding-bottom: 10%;
}

.text-contact {
  width: 50%;
  height: 50%;
  background-color: whitesmoke;
  opacity: 0.8;
  z-index: 99;
}

#row-hero h1 {
  color: white;
  font-size: 4vw;
  line-height: 1.2em;
  background-color: black;
  width: 54%;
  padding: 0;

  @media screen and (max-width: 768px) {
    width: 52%;
    font-size: 58%;
    padding: 0;
  }
}

#row-hero-about p {
  color: rgba(250, 250, 250, 0.7);
  font-size: 1.5vw;
  line-height: 6vh;
}

.bottom-information {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.foot {
  background-color: #13505b;
  font-size: 18px;
  padding-top: -10%;
  padding-bottom: -10%;
}

#info-projects {
  width: 100%;
  height: 3%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6% 18% 4% 18%;
  gap: 10%;
  margin-bottom: 2%;
}

#info ul li {
  flex-shrink: 2;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;

  @media screen and (max-width: 650px) {
    flex-wrap: wrap;
  }
}

.about {
  position: relative;
}

#about-heading {
  background-color: white;
  font-family: "Anton SC", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}

#about-id {
  font-family: "Anton SC", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  z-index: 99;
  height: 100%;
}

.pb-3 {
  text-align: left;

  color: black;
}

.container-four {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0 80px 0;

  @media screen and (max-width: 650px) {
    display: flex; 
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    flex-shrink: 1;
    flex-grow: 1;
  }
}

.container-four .holdingcontainer {
  display: flex;
   gap: 50px;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  

  @media screen and (max-width: 650px) {
    display: flex; 

    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    flex-shrink: 2;
  }
}

.container-four .leftsidetwo h4 {
  width: 100%;
  line-height: 9px;
  margin-bottom: 10px;
  margin-top: 10px;

  color: black;

  @media screen and (max-width: 650px) {
    display: flex; 
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
  }
}

.container-four .leftsidetwo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;

  @media screen and (max-width: 650px) {
    display: flex; 
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
  }
}

.container-four .leftsidetwo p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
 

  @media screen and (max-width: 650px) {
    display: flex; 
    text-align: center;
    width: 88%;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
  }


}

.container-four .rightsidetwo button {
  width: 100%;
  color: black;
  padding-left: 20px;
}

.mission {
  display: flex; 
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  padding: 2% 0 2% 0;
  background-color: black;
  color: white;
  flex-wrap: wrap; 
  flex-shrink: 1; 
  flex-grow: 1; 
}

.mission .left-mission {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;

  @media screen and (max-width: 650px) {
    width: 100%;
    flex-grow: 1; 
  }
}

.information {
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 10%;
  width: 90%;

  @media screen and (max-width: 650px) {
    width: 90%;
    height: auto; 
  }
}

.information .list-group {
  display: flex;

  width: 100%;
  height: 50%;
}

.information .list-group p {
  font-size: 20px; 

  @media screen and (max-width: 650px) {
    font-size: 15px;
  }
}

.information .list-group small {
  font-size: 30px; 

  @media screen and (max-width: 650px) {
    font-size: 20px;
  }
}

.values {
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.values form {
  width: 80%;
  background-color: bisque;
  text-align: center;
}

.values form label {
  width: 80%;
  
  @media screen and (max-width: 650px) {
    font-size: 15px;
  }
}

.video-js {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  @media screen and (max-width: 850px) {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 5px;
    aspect-ratio: 16/9;
    width: "40%";
    height: "80%";
    position: "relative";
    display: "inline-block";
    margin-right: "1rem";
  }
}

#containerfluid {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#title-name {
  flex-wrap: wrap;
  flex-shrink: 2;

  @media screen and (max-width: 650px) {
    font-size: 12px;
    flex-shrink: 1;
  }
}

.tbody tr,
td {
  font-size: 25px;

  @media screen and (max-width: 650px) {
    font-size: 10px;
  }
}

.table-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 7%;
}

.section-btn {
  display: flex; 
  justify-content: flex-end;
  flex-wrap: wrap; 
}